@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  padding: 32px 64px;
}

.wrapper {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.headshot img {
  max-width: 300px;
}

header {
  padding-top: 64px;
  background-color: #0791b2;
  transform: skewY(-11deg) translateY(-40%);
  box-shadow: 0px 2px 2px #a3a3a3;
}

.header-items {
  transform: skewY(11deg) translateY(40%);
  display: flex;
  align-items: center;
}

.headshot img {
  box-shadow: 0px 2px 4px #a3a3a3;
}

.about-me-section {
  padding: 24px;
  background-color: white;
  box-shadow: 0px 2px 6px #a3a3a3;
  display: grid;
  grid-template-rows: repeat(1fr);
}

.about-me-description {
  padding: 18px 0px 24px 0px;
}

.about-me-logos {
  margin-left: auto;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  margin-top: 32px;
  margin-right: 80px;
  max-width: min-content;
}

.project-items {
  box-shadow: 0px 2px 6px #a3a3a3;
}

footer {
  color: white;
  margin: 0;
  background-color: #0791b2;
  box-sizing: border-box;
  display: flex;
}

.contact-items {
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 100%;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
